<footer>
    <a href="https://www.linkedin.com/in/matheus-binotto-a51787143/"><i class="fa fa-linkedin"></i>  Linkedin</a>
    </br>
    <a href="https://github.com/Binotto/web-server-boilerplate"><i class="fa fa-github"></i>  View Code on GitHub</a>
</footer>